/***************************
             DEFAULT
    ***************************/
    body {
        margin: 0;
        overflow-x: hidden !important;
        font-family: var(--default);
    }
    
    a {
        text-decoration: none;
        transition: 0.5s;
        outline: none !important;
    }
    
    em {
        color: var(--rose);
        font-weight: 900;
        font-size: 26px;
        font-family: 'Pacifico', cursive;

    }
    
    p {
        line-height: 1.4em;
    }
    
    .title {
        font-family: var(--title);
        font-size: 3em;
        color: var(--black);
        font-weight: 200;
    }