/***************************
    CUSTOM SCROLL BAR
****************************/
*,
html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
    scrollbar-width: thin !important;
    --gold: #ffe091;
    --rose: #fd7eb8;
    --white: #fff;
    --black: #131417;
    --gray: rgba(255, 255, 255, 0.7);
    --lite: rgba(1, 1, 1, 0.6);
    --palegreen: #99decc;
    --palepink: #ffe2e2;
    --paleblue: #bad7df;
    --pink: #fc9caa;
    --green: #99ddcc;
    --blue: #b6daf4;
    --default: 'Josefin Sans', sans-serif;
    --title: 'Cormorant Garamond', serif;
    --cursive: 'Dancing Script', cursive;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: var(--paleblue);
}




/***************************
             DEFAULT
    ***************************/
body {
    margin: 0;
    overflow-x: hidden !important;
    font-family: var(--default);
}

a {
    text-decoration: none;
    transition: 0.5s;
    outline: none !important;
}

em {
    color: var(--pink);
    font-family: var(--cursive);
}

p {
    line-height: 1.4em;
}

.title {
    font-family: var(--title);
    font-size: 3em;
    color: var(--black);
    font-weight: 200;
}

.btn1 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: var(--blue);
    background-color: var(--white);
    box-shadow: 4px 4px 0px 0px var(--blue);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--blue);
    border-radius: 0px 0px 0px 0px;
    padding: 25px 50px;
}

.btn1:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 6px 6px 0px 0px #BAD7DF;
}

@media (max-width:1000px) {
    .title {
        font-size: 1.5em;
    }

    .btn1 {
        padding: 15px 25px;
        display: block;
        width: 180px;
        text-align: center;
    }
}



/***************************
             ANIMATIONS
    ***************************/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}



/***************************
              HEADER
    ***************************/
header {
    width: 100%;
    background-color: var(--palepink);
    display: flex;
}

header a {
    color: var(--lite);
}

header a:hover {
    color: var(--black);
 }

header section {
    width: 100%;
    padding: 0.5rem 2rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section span {
    padding: 0 1rem;
    text-align: center;
    white-space: nowrap;
}


header span .fa {
    margin: 0 5px;
}

header .btn1 {
    padding: 5px 10px !important;
}

@media (max-width:920px) {
    header section:nth-child(1) {
        display: none !important;
    }

    header section {
        padding: 0.5rem 0rem;
    }
}

@media (max-width:340px) {
    header section span {
        padding: 0 2px;
    }
}








/***************************
             NAVIGATION
    ***************************/
.topnav {
    overflow: hidden;
    background-color: #000;
}

.topnav a {
    float: right;
    display: block;
    color: #fd7eb8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.topnav a:hover {
    color: #f9f9f9;
}

.topnav a:not(:first-child),
.drop a:not(:first-child) , 
#navbar a:not(:first-child) {
    margin: 15px;
}

#logo {
    float: left;
    display: flex;
    align-items: Center;
    pointer-events: none;
}

#logo b {
    position: relative;
    top: 8px;
    left: 5px;
}

#logo img {
    width: 253px;
    height: 188px;
    position: relative;
}

#active,
#navbar #active2 {
    color: var(--gold);
}

.topnav .icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
}

.dropbtn{
    background: none;
    float: right;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 10px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .drop{
    display: inline-block;
  
  }
  
  .content{
    position: absolute;
    background-color: #fff;
    width: 205px;
    display: none;
    
  
  }
  .drop:hover .content{
    display: block;
  
  }
  
  .content a{
    display: block;
    color: #1abc9c;
    text-decoration: none;
    padding: 10px;
    
  }
  
  i{
    font-size: 25px;
  }

.topnav a:hover{
   color: #f9f9f9;
}




@media screen and (max-width: 840px) {
    #logo {
        float: left;
        width: 90%;
    }

    #logo img {
        float: left;
        top: 0;
    }

    .topnav a:not(:first-child),
    .dropdown,
    #navbar a:not(:first-child) {
        margin: 0px;
    }

    .topnav a:not(:first-child),
    .dropdown .dropbtn,
    .sub-dropdown .sub-dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 840px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown,
    .topnav.responsive .sub-dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content,
    .topnav.responsive .sub-dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn,
    .topnav.responsive .sub-dropdown .sub-dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .dropdown-content,
    .sub-dropdown-content {
        position: relative;
    }

    .sub-dropdown-content {
        right: 0;
    }
}

@media (max-width:400px) {
    .topnav .icon {
        top: 50px;
    }
}

#navbar {
    background-color: var(--white);
    position: fixed;
    top: -180px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 99999999999;
    box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, 0.2);
}

#navbar a {
    float: right;
    display: block;
    color: var(--lite);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

#navbar a:hover {
    color: var(--primary);
}

#logo2 {
    float: left !important;
}

#logo2 img {
    width: 40px;
    position: relative;
}

#logo2 b {
    position: relative;
    top: -7px;
}

#navbar .dropdown-content {
    min-width: 160px !important;
    width: 160px;
}

#navbar .dropdown-content a,
#navbar .sub-dropdown-content a {
    display: block !important;
    width: 100%;
    text-align: left;
}

@media (max-width:640px) {
    #navbar {
        display: none !important;
    }
}





/***************************
               MAIN
    ***************************/
main {
    width: 100%;
    height: 80vh;
    background-image: url("/pics/background.jpeg");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

main:after {
    content: "";
    background-image: url("https://i.postimg.cc/pXHCTT3S/wave.png");
    background-size: 100% 100%;
    position: absolute;
    bottom: -1%;
    width: 100%;
    height: 100px;
}

main section {
    padding: 4rem;
    width: 60%;
}

main section em {
    font-size: 2.5em;
    line-height: 0;
}

@media (max-width:920px) {
    main {
        background-image: url("/pics/background\ reducido.jpeg");
        height: 47vh;
        flex-wrap: wrap;
        padding: 8rem 0;
    }

    main:after {
        content: "";
        background-size: cover;
    }

    main section {
        padding: 1rem;
        width: 100%;
    }

    main section em {
        font-size: 1.5em;
    }
}

/*SECTION1*/
.section1 {
    width: 90%;
    margin: auto;
    overflow: hidden;
}


/***************************
             SECTION2
    ***************************/
    .section2 {
        display: flex;
        align-items: center;
        padding: 3rem 0;
    }
    
    .section2 section {
        width: 100%;
        padding: 2rem;
        position: relative;
    }
    
    .section2 section:nth-child(1) {
        width: 40%;
    }
    
    .section2 section:nth-child(1) em {
        font-size: 2.5em;
        background-image: url("../images/icon_1.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px 25px;
    }
    
    .section2 section:nth-child(1) .title {
        line-height: 0;
        white-space: nowrap;
    }
    
    .section2 section:nth-child(1) p {
        color: var(--lite);
        font-weight: 300;
    }
    
    .section2 section:nth-child(2) {
        display: flex;
        align-items: top;
    }
    
    .section2 section span {
        width: 100%;
        margin: 0 10px;
        position: relative;
    }
    
    .section2 section span:nth-child(2) {
        top: 4rem;
    }
    
    .section2 section span img {
        width: 100%;
    }
    
    .section2 section span p {
        position: absolute;
        bottom: -4rem;
        width: 90%;
        box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, .2);
        padding: 1rem 2rem;
        background-color: var(--white);
        font-size: 2rem;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 300;
        font-family: var(--title);
        box-shadow: 5px 5px 0px 0px var(--blue);
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: var(--blue);
        border-radius: 0px 0px 0px 0px;
    }
    
    @media (max-width:1000px) {
        .section2 section span p {
            font-size: 1.5rem
        }
    }
    
    @media (max-width:820px) {
        .section2 {
            flex-wrap: wrap;
        }
    
        .section2 section {
            padding: 1rem;
        }
    
        .section2 section:nth-child(1) {
            width: 100%;
            text-align: center;
        }
    
        .section2 section:nth-child(1) em {
            font-size: 1.5em;
        }
    
        .section2 section:nth-child(2) {
            flex-wrap: wrap;
        }
    
        .section2 section span {
            margin: 10px 0;
        }
    
        .section2 section span:nth-child(2) {
            top: 0rem;
        }
    
        .section2 section span p {
            bottom: 0;
        }
    }
    
/***************************
             SECTION3
    ***************************/
    .section3 {
        display: flex;
        align-items: center;
        padding: 3rem 0;
    }
    
    
    .section3 section:nth-child(1) {
        width: 40%;
    }
    
    .section3 section:nth-child(1) em {
        font-size: 2.5em;
        background-image: url("../images/icon_1.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px 25px;
    }
    
    .section3 section:nth-child(1) .title {
        line-height: 0;
        white-space: nowrap;
    }
    
    .section3 section:nth-child(1) p {
        color: var(--lite);
        font-weight: 300;
    }
    
    .section3 section:nth-child(2) {
        display: flex;
        align-items: top;
    }
    
    .section3 section span {
        width: 100%;
        margin: 0 10px;
        position: relative;
    }
    
    .section3 section span:nth-child(2) {
        top: 4rem;
    }
    
    .section3 section span img {
        width: 100%;
    }
    
    .section3 section span p {
        position: absolute;
        bottom: -4rem;
        width: 90%;
        box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, .2);
        padding: 1rem 2rem;
        background-color: var(--white);
        font-size: 2rem;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 300;
        font-family: var(--title);
        box-shadow: 5px 5px 0px 0px var(--blue);
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: var(--blue);
        border-radius: 0px 0px 0px 0px;
    }
    
    @media (max-width:1000px) {
        .section3 section span p {
            font-size: 1.5rem
        }
    }
    
    @media (max-width:820px) {
        .section3 {
            flex-wrap: wrap;
        }
    
        .section3 section {
            padding: 1rem;
        }
    
        .section3 section:nth-child(1) {
            width: 100%;
            text-align: center;
        }
    
        .section3 section:nth-child(1) em {
            font-size: 1.5em;
        }
    
        .section3 section:nth-child(2) {
            flex-wrap: wrap;
        }
    
        .section3 section span {
            margin: 10px 0;
        }
    
        .section3 section span:nth-child(2) {
            top: 0rem;
        }
    
        .section3 section span p {
            bottom: 0;
        }
    }
    
