/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .top_header section {

        margin: 20px 0;
    }

    .top_header {
        padding: 1rem;
        display: block;
    }

    .top_header section {
        width: 100%;
        align-items: left;
        justify-content: left;
    }

    footer .bottom_content section {
        padding: 1rem;
        display: block;
        text-align: center;
    }

    footer .bottom_content section a {
        padding: 1rem;
        font-size: 12px;
        margin: 0 5px;
        display: inline-block;
    }
}