/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /************
    navigation
    ***********/

    .topnav {
        overflow: hidden;
        background-color: #000;
    }

    .topnav a {
        float: right;
        display: none;
        color: var(--rose);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
    }

    .topnav a:hover {
        color: #f9f9f9;
    }

    .topnav a:not(:first-child),
    #navbar a:not(:first-child) {
        margin: 0px;
    }


    #logo {
        float: left;
        width: 90%;
        display: flex;
        align-items: Center;
        pointer-events: none;
    }

    #logo b {
        position: relative;
        top: 8px;
        left: 5px;
    }

    #logo img {
        float: left;
        top: 0;
        width: 253px;
        height: 188px;
        position: relative;
    }

    .topnav a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 10px;
        top: 50px;
    }

    i {
        font-size: 25px;
    }

    .dropbtn {
        background: none;
        color: var(--gold);
        padding: 16px;
        font-size: 16px;
        font-weight: 400;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        display: block;
        position: absolute;
        left: 384px;
        display: inline-block;
    }

    .topnav a:hover {
        color: #f9f9f9;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown,
    .topnav.responsive .sub-dropdown {
        float: none;
    }

    .topnav.responsive,
    .topnav.responsive {
        display: block;
        width: 100%;
        text-align: left;
    }

    .topnav .icon {
        top: 50px;
    }

    .dropdown {
        left: 291px;
        top: 33px;
        display: block;
    }

    .dropdown-content {
        min-width: 83px;
        left: -2px;
        position: absolute;
        background-color: none;
        box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
        z-index: 1;
        display: none; 
    }

    .dropdown-content a {
        color: var(--rose);
        font-size: 16px;
        font-weight: 400;
        border: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }



    .show {
        display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}
};